<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grid" parallel="classes">
    <test thread-count="5" verbose="2" preserve-order="true" name="/Users/testvagrant/Desktop/selenium-java/src/test/java/docker/grid">
        <classes>
            <class name="selenium4.Screenshot"/>
        </classes>
    </test>
</suite>
